apiVersion: apps/v1

kind: Deployment

metadata:
  name: mysql
  labels:
    app: mysql

spec:

  selector:
    matchLabels:
      app: mysql

  template:
    metadata:
      name: mysql
      labels:
        app: mysql

    spec:
      containers:
        - name: mysql
          image: mysql
          ports:
            - containerPort: 3306
          envFrom:
            - configMapRef:
                name: mysql-configmap
            - secretRef:
                name: mysql-secret