apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
    limits:
      storage: 15Gi
---

apiVersion: apps/v1

kind: Deployment

metadata:
  ## 생성되는 Pods 이름
  name: db-mysql
  labels:
    app: mysql

spec:

  selector:
    matchLabels:
      app: mysql

  template:
    metadata:
      name: mysql
      labels:
        app: mysql

    spec:
      containers:
        - name: mysql
          image: mysql
          ports:
            - containerPort: 3306
          envFrom:
            - configMapRef:
                name: mysql-configmap
            - secretRef:
                name: mysql-secret

      volumes:
        - name: mysql-storage
          persistentVolumeClaim:
            claimName: mysql-pvc