apiVersion: v1
kind: Service
metadata:
  name: kafka
spec:
  selector:
    app: kafka
  ports:
    - name: plaintext
      port: 9092         # KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      targetPort: 9092
    - name: controller
      port: 9091         # KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9091
      targetPort: 9091