apiVersion: apps/v1

kind: Deployment

metadata:
  name: test
  labels:
    app: test

spec:

  selector:
    matchLabels:
      app: test

  template:
    metadata:
      name: test
      labels:
        app: test

    spec:
      containers:
        - name: test
          image: k3stest:latest
          imagePullPolicy: IfNotPresent   # 로컬 이미지 우선 사용
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: test-config
            - secretRef:
                name: mysql-secret